        <div class="jumbotron">
          <div class="heading">
            <h1>
                Bridging <span class="emphasis">inequality</span> with <span class="emphasis">education</span>
            </h1>
          </div>
        </div>