<%= partial "/partials/jumbotron" %> 

<section class="mission">
    <h2>Mission</h2>
    <p><%= data.content.mission %></p>
</section>

<section >
    <%= partial "/partials/boxes" %>
</section>

<aside class="calendar">
    <h3>Upcoming Events <i class="fa fa-calendar" aria-hidden="true"></i> </h3>
      <ul id="events-upcoming"></ul>
</aside>

