<div class="container-fluid resources">
    <h2>News</h2>
    <p><%= lorem.sentences 3 %></p>
    
     &nbsp; 
     <ul>
      <li><%= link_to 'Bridge the Digital Divide', '/adt_news1.pdf' %></li>
      <li><%= link_to 'Front Page Article from the Houston Chronicle', '/adt_news2.pdf' %></li>
      <li><%= link_to 'ADTinc Mission in Action', '/adt_news3.pdf' %></li>
    </ul>
</div>