<div class="container-fluid resources">
    <h2>News</h2>
    <%= lorem.sentences 5 %>
    <section class="boxes">
          <div class="row">
            
            <div class="col-md-4 notable-content">
              <a class="hvr-grow" href="#">
                <h3></h3>
              </a>
            </div>
            
            <div class="col-md-4 notable-content">
              <a class="hvr-grow" href="#">
                <h3></h3>
              </a>
            </div>
            
            <div class="col-md-4 notable-content">
              <a class="hvr-grow" href="#">
                <h3></h3>
              </a>
            </div>
            
          </div>
       </section> 
</div>