<div class="container-fluid resources">
    <h2>What We Do</h2>
    <p><%= data.content.what_we_do_1%></p>
    <p><%= data.content.what_we_do_2%></p>
    <p><%= data.content.what_we_do_3%></p>
</div>
